In [ ]:
%reload_ext kedro.ipython
# %reload_kedro

df = catalog.load("parsed_stage_tables")

In [71]:
from typing import List
from unidecode import unidecode
import re
import pandas as pd

def normalize_str(df: pd.DataFrame, str_col: str)-> pd.DataFrame:

    df = df.copy()
    df[str_col] = df[str_col].str.lower()
    df[str_col] = df[str_col].apply(unidecode)
    df[str_col] = df[str_col].apply(lambda x: re.sub(r'[^\w\s]','', x))
    df[str_col] = df[str_col].str.strip()

    return df

normalized = normalize_str(df.dropna(subset='locality'), 'locality')

In [77]:
normalized

,fare_stage,locality,average_journey_times_in_minutes,direction,route_no
0,0,port louis victoria square,NaN,1,1
1,1,brabant spar,6,1,1
2,2,grnw,13,1,1
3,3,coromandel sunray hotel,18,1,1
4,4,belle etoile tamil social hall,21,1,1
...,...,...,...,...,...
7865,7,plaine magnien,38,2,99A
7866,8,plaisance grotto,26,2,99A
7867,9,madame dayla,20,2,99A
7868,10,beau vallon,15,2,99A
7869,11,mahebourg bus station,17,2,99A

In [ ]:
df[['locality']].apply(lambda x: x.str.lower())

In [ ]:
locality.unique()

# locality[2411]